.calendar-wrapper {
	width: calc(var(--calendar-date-size) * var(--calendar-columns-number));
	height: calc(var(--calendar-date-size) * var(--calendar-rows-number));
  
  border-radius: 12px;
  overflow: hidden;
}

.calendar {
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-top: 0;

	display: flex;
	flex-direction: column;
  gap: var(--calendar-gap-size);

	transition: all 0.5s ease-in-out;
}

.calendar-row {
	width: fit-content;
	min-height: var(--calendar-date-size);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  gap: var(--calendar-gap-size);

	transition: all 0.5s ease-in-out;
}

.calendar-row:has(.day.expanded) {
	min-height: calc(var(--calendar-date-size) * var(--calendar-rows-number));
}

.day {
  color: black;
	box-sizing: border-box;
  border-radius: 12px;

	min-width: var(--calendar-date-size);
	min-height: var(--calendar-date-size);
	width: var(--calendar-date-size);
	height: var(--calendar-date-size);

	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;

	transition: all 0.3s ease-out;
}

.day:hover {
  box-shadow: 0px 0px 15px -50px var(--shadow-dark-color), 0px 0px 15px -50px var(--shadow-highlight-color);
}

.day:not(.expanded):hover {
  cursor: pointer;
  box-shadow: 6px 6px 15px -5px var(--shadow-dark-color), 6px -6px 15px -5px var(--shadow-highlight-color);
}

.day:not(.expanded):active {
  box-shadow: inset 3px 3px 10px -3px var(--shadow-dark-color);
}

.day.expanded {
	width: 100%;
	height: 100%;
	flex-grow: 1;

  border-radius: 0;
}