html {

  --background-color: #E3EDF6;

  /* Spacing */
  --gap-sm: 3px;
  --gap-md: 6px;
  --gap-bg: 9px;

  --padding-xs: 2px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-bg: 12px;

  /* Typography */
  --text-xs: 8px;
  --text-sm: 12px;
  --text-md: 16px;
  
  /* Calendar Vars */
  --calendar-date-size: 160px;
  --calendar-columns-number: 7;
  --calendar-rows-number: 6;
  --calendar-gap-size: 3px;

  /* Shadow Vars */
  --shadow-dark-color: #C0D2E5;
  --shadow-highlight-color: #fefefd;

  --no-shadow-overwrite: 0px 0px 15px -50px transparent, 0px 0px 15px -50px transparent;

  --shadow-sm: 1px 1px 3px 1px var(--shadow-dark-color), -1px -1px 3px 1px var(--shadow-highlight-color);
  --shadow-md: 6px 6px 15px -5px var(--shadow-dark-color), -6px -6px 15px -5px var(--shadow-highlight-color);
  --shadow-bg: 6px 6px 20px 0px var(--shadow-dark-color), -6px -6px 20px 0px var(--shadow-highlight-color);

  --shadow-md-inset: inset 3px 3px 10px -3px var(--shadow-dark-color);
  --shadow-bg-inset: inset 3px 3px 5px 2px var(--shadow-dark-color);
}